
	/*div1*/
	.div1{
		height:50px;
		text-align:left;
	}
	.div1 .div1_context{
		height:50px;
	}
	.div1 img{
		padding-left:50px;
	}
	
	/*div2*/
	.div2{
		height:50px;
		text-align:center;
		background-color:#770050;
	}
	.div2 .div2_context{
		height:50px;
	}
	.div2 h3{
		font-size:14px;
		float:left;
		margin-left:50px;
		margin-top:16px;
		color:white;
	}
	/*div3*/
	.div3{
		padding-top:50px;
		position:relative;
		height:1650px;
		text-align:center;
	}
	.div3 .div3_context{
		position:relative;
		width:1050px;
		height:1550px;
		margin:0 auto;
	}
	.div3_1,
	.div3_2,
	.div3_3,
	.div3_4,
	.div3_5{
		width:970px;
		height:278px;
		margin:0 auto;
		margin-top:20px;
		text-align:center;
		border: 2px solid #F2EAE6;

	}
	.div3_1_1,
	.div3_2_1,
	.div3_3_1,
	.div3_4_1,
	.div3_5_1{
		width:370;
		height:278px;
		overflow:hidden;
		float:left;

	}	
	.div3_1_1_1,
	.div3_2_1_1,
	.div3_3_1_1,
	.div3_4_1_1,
	.div3_5_1_1{
		width:300;
		height:198px;
		margin:0 auto;
		padding-top:40px;
	}
	
	.div3_1_1_2,
	.div3_2_1_2,
	.div3_3_1_2,
	.div3_4_1_2,
	.div3_5_1_2{
		width:372;
		height:42px;
		background-color:#FAF2ED;
		margin:0 auto;
		padding-top:15px;
		font-size:13px;
	}
	
	
	
	.div3_1_2,
	.div3_2_2,
	.div3_3_2,
	.div3_4_2,
	.div3_5_2{
		width:600;
		height:278px;
		overflow:hidden;
		}
		
		
	/*div4*/
	
	.div4{
		height:60px;
		border-top: 2px solid #F2EAE6;
		background-color:#FAF8F9;
		text-align:center;
	}
	.div4 .div4_context{
		margin:0 auto;
		padding-top:20px;
	}
	.div4 .div4_context a{
		margin-left:20px;
		color:#602750;
		font-weight:bold;
		text-decoration:none;
	}
	.div4 .div4_context  a:hover{
	 text-decoration:underline;
	}